input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 1px solid red;
}

.errorText {
  color: red;
  font-size: 12px;
}

.client-form {
  &__title {
    color: #215079;
    font-family: cursive;
    margin-bottom: 30px;
  }
  &__buttons {
    margin-bottom: 15px;
    button {
      margin-right: 10px;
    }
  }
  &__label {
    font-family: cursive;
  }
  &__option {
    font-family: cursive;
    font-size: 16px;
  }
  &__img {
    max-height: 100px;
  }
}
