<div class="row client-form">
  <h1 class="client-form__title col-xs-12">{{ editMode ? 'Edit Client' : 'Add New Client' }}</h1>
  <div class="col-xs-12">
    <form [formGroup]="clientForm" (ngSubmit)="saveClient()">
      <div class="row client-form__buttons">
        <div class="col-xs-12">
          <button [disabled]="!clientForm.valid" class="btn btn-success" type="submit">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="form-group">
            <label class="client-form__label" for="name">Client Number</label>

            <input
              *ngIf="!editMode"
              type="text"
              id="clientNumber"
              name="clientNumber"
              formControlName="clientNumber"
              class="form-control"
            />
            <input
              *ngIf="editMode"
              type="text"
              id="clientNumber"
              name="clientNumber"
              formControlName="clientNumber"
              class="form-control"
              disabled
            />

            <span
              class="errorText"
              *ngIf="
                !clientForm.get('clientNumber').valid && clientForm.get('clientNumber').touched
              "
            >
              კლიენტის ნომერი უნდა შედგებოდეს მხოლოდ ციფრებისგან!
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <div class="form-group">
            <label class="client-form__label" for="name">Name</label>
            <input
              type="text"
              id="clientName"
              name="clientName"
              formControlName="clientName"
              class="form-control"
            />
            <span
              class="errorText"
              *ngIf="!clientForm.get('clientName').valid && clientForm.get('clientName').touched"
            >
              სახელი უნდა შედგებოდეს მინ.2 და მაქ.50 ქართული ან ინგლისური ასოებისგან!
            </span>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <label class="client-form__label" for="name">Surname</label>
            <input
              type="text"
              id="clientSurname"
              name="clientSurname"
              formControlName="clientSurname"
              class="form-control"
            />
            <span
              class="errorText"
              *ngIf="
                !clientForm.get('clientSurname').valid && clientForm.get('clientSurname').touched
              "
            >
              გვარი უნდა შედგებოდეს მინ.2 და მაქ.50 ქართული ან ინგლისური ასოებისგან!
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <div class="form-group">
            <label class="client-form__label" for="gender">Gender: </label>
            <select class="form-control" formControlName="clientGender">
              <option class="client-form__option" value="male">Male</option>
              <option class="client-form__option" value="female">Female</option>
            </select>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <label class="client-form__label" for="name">Personal Number</label>
            <input
              type="text"
              id="clientPersonalNumber"
              name="clientPersonalNumber"
              formControlName="clientPersonalNumber"
              class="form-control"
            />
            <span
              class="errorText"
              *ngIf="
                !clientForm.get('clientPersonalNumber').valid &&
                clientForm.get('clientPersonalNumber').touched
              "
            >
              პირადი ნომერი უნდა შედგებოდეს 11 ციფრისგან!
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <div class="form-group">
            <label class="client-form__label" for="name">Mobile Number</label>
            <input
              type="text"
              id="clientMobileNumber"
              name="clientMobileNumber"
              formControlName="clientMobileNumber"
              placeholder="555 555 555"
              class="form-control"
            />
            <span
              class="errorText"
              *ngIf="
                !clientForm.get('clientMobileNumber').valid &&
                clientForm.get('clientMobileNumber').touched
              "
            >
              მობილურის ნომერი არ არის სწორი!
            </span>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group">
            <label class="client-form__label" for="name">Image URL</label>
            <input
              type="text"
              id="clientImage"
              name="clientImage"
              formControlName="clientImage"
              class="form-control"
              #imagePath
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <img [src]="imagePath.value" class="img-responsive pull-right client-form__img" alt="" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4" formGroupName="legalAddress">
          <label class="client-form__label" for="description">Legal address</label>
          <input
            type="text"
            id="name"
            name="name"
            formControlName="country"
            placeholder="Country"
            class="form-control"
          />
          <input
            type="text"
            id="name"
            name="name"
            formControlName="city"
            placeholder="City"
            class="form-control"
            style="margin: 4px 0"
          />
          <input
            type="text"
            id="name"
            name="name"
            formControlName="address"
            placeholder="Address"
            class="form-control"
          />
        </div>
        <div class="col-xs-4" formGroupName="actualAddress">
          <label class="client-form__label" for="description">Living address</label>
          <input
            type="text"
            id="name"
            name="name"
            formControlName="country"
            placeholder="Country"
            class="form-control"
          />
          <input
            type="text"
            id="name"
            name="name"
            formControlName="city"
            placeholder="City"
            class="form-control"
            style="margin: 5px 0"
          />
          <input
            type="text"
            id="name"
            name="name"
            formControlName="address"
            placeholder="Address"
            class="form-control"
          />
        </div>
      </div>
    </form>
  </div>
</div>
<app-loader *ngIf="isLoader"></app-loader>
