<article class="header">
  <div class="container-fluid">
    <div class="row header__content">
      <h1 class="header__title">კლიენტების ცნობარი. თორნიკე ზატუაშვილი</h1>
      <div class="header__lang">
        <div class="header__lang-ka" (click)="selectedLang('ka')">KA</div>
        |
        <div class="header__lang-us" (click)="selectedLang('en')">EN</div>
      </div>
    </div>

    <div class="row header__buttons">
      <button type="button" class="header__button btn btn-primary" routerLink="/">
        {{ 'navigation.home' | translate }}
      </button>
      <button type="button" class="header__button btn btn-primary" routerLink="./clients">
        {{ 'navigation.clients' | translate }}
      </button>
    </div>
  </div>
</article>
<hr />
